$close-mark-size: 30px;
$close-mark-margin: 0;
$border-radius: 15px;
$arrow-size: 6px;
$tooltip-show-delay: 1.1s;

$option-dialog-bg: #fff5ee;
$options-bar-bg: #fff9f7;
$options-box-shadow-color: #555;
$scrollbar-color: rgba(0, 0, 0, .2);
$empty-search-results-color: #000;
$search-bar-bg: #bababa;
$search-bar-color: #000;
$search-bar-icon-stroke: #fff;
$search-bar-icon-bg: #505050;
$background-color-submit-button: #e6e6e6;
$background-color-switch-buttons: #e6e6e6;
$background-color-switch-buttons-checked: rgb(241,181,35);
$placeholder-color: #444;
$tooltip-bg: #555;


$option-dialog-bg-dark: #303030;
$options-bar-bg-dark: #505050;
$options-box-shadow-color-dark: #000;
$scrollbar-color-dark: rgba(255, 255, 255, .2);
$empty-search-results-color-dark: #fff;
$search-bar-bg-dark: #505050;
$search-bar-icon-stroke-dark: #000;
$search-bar-icon-bg-dark: #fff;
$search-bar-color-dark: #fff;
$placeholder-color-dark: #eee;