@mixin dark-theme {
    .container {
        background-color: #505050;
    }

    span {
        color: white;
    }


    ::ng-deep {
        .mat-form-field .mat-form-field-flex {
          background-color: #707070; 
        }
    
        .mat-form-field-ripple, 
        .mat-form-field-underline {
            background-color: white !important;
        }
    
        .mat-datepicker-toggle{
            color:rgba(255 255 255 / .8);
         }
    
         .date-form input {
            caret-color: white;
         }
    }
    
    mat-hint, mat-label {
        color: rgba(255 255 255 / .8);
    }

    input {
        color: #fff;
    }
}